# Ignore virtual environments
venv/
wsl_venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore logs and temp files
*.log
*.tmp

# Ignore environment config
.env
"Miniconda3-latest-Linux-x86_64.sh" 
